header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

h1 {
    border-bottom: 1px solid var(--accent);
}
.nav-links {
    display: flex;
    gap: .5rem;
    font-size: 80%;
}