/* COLOR PALETTE */
:root {
  --orange: rgb(168, 101, 14);
  --blue: rgb(47, 78, 124);
  --white: rgb(235, 225, 225);
  --accent: rgba(190, 160, 160, 0.75);
}

/* UNIVERSAL CONSTANTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant: small-caps;
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /* visual aid below (delete later) */
  /* outline: 1px dotted white; */
}


.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--blue);
  color: var(--white);
  padding: .25rem;
}

.section {
  background-color: var(--orange);
  border-radius: .25rem;
  padding: .25rem;
}

ul, ol {
  list-style: none;
}

a, .link {
  color: inherit;
  text-decoration: none;
  transition: 1s color;
}

a:hover, .link:hover, .active {
  color: var(--blue);
}